# Module: Pandas Assignments
## Lesson: Pandas

In [4]:
### Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import pandas as pd
import numpy as np
data = np.random.randint(1,20,size=(6,4))
df = pd.DataFrame(data,columns=['A','B','C','D'])
print(df)
df.set_index('A',inplace=True)
print(df)

    A   B   C   D
0   4  19   5   6
1  13   7  16   2
2  15   5   3  19
3  14   4   3  17
4   5   1  18  14
5  16  13   7  16
     B   C   D
A
4   19   5   6
13   7  16   2
15   5   3  19
14   4   3  17
5    1  18  14
16  13   7  16

In [10]:
# 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
arr = np.random.randint(1,20,size=(3,3))
df = pd.DataFrame(arr,columns=['A','B','C'],index=['X','Y','Z'])
print(df)
value = df.loc['Y','B']
print(value)

    A   B   C
X   2  17   2
Y  19  17   8
Z  11  11  10
17

In [12]:
### Assignment 2: DataFrame Operations

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

data = np.random.randint(1,20,size=(5,3))
df = pd.DataFrame(data,columns=['A','B','C'])
print(df)
df['D'] = df['A'] * df['B']
print(df)

    A   B   C
0  12  19  15
1   4  16  12
2  16  17  16
3   2  10  12
4   2   2  18
    A   B   C    D
0  12  19  15  228
1   4  16  12   64
2  16  17  16  272
3   2  10  12   20
4   2   2  18    4

In [15]:
# 2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df = pd.DataFrame(np.random.randint(1,20,size=(4,3)),columns=['A','B','C'])
print(df)
col_sum = df.sum()
print("Column-wise sum:\n",col_sum)
row_sum = df.sum(axis=1)
print("Row-wise sum:\n",row_sum)

    A   B   C
0   7  16  16
1  10  14   2
2  16   8   9
3  16   8   2
Column-wise sum:
 A    49
B    46
C    29
dtype: int64
Row-wise sum:
 0    39
1    26
2    33
3    26
dtype: int64

In [18]:
### Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

df = pd.DataFrame(np.random.randint(1,10,size=(5,3)),columns=['A','B','C'])
print(df)

for _ in range(3):
    i = np.random.randint(0,5)
    j = np.random.randint(0,3)
    df.iat[i,j] = np.nan
print(df)

df_filled = df.fillna(df.mean(numeric_only = True))
print(df_filled)

   A  B  C
0  6  4  7
1  2  3  5
2  1  3  9
3  6  4  9
4  4  2  8
   A    B    C
0  6  NaN  7.0
1  2  3.0  5.0
2  1  3.0  NaN
3  6  NaN  9.0
4  4  2.0  8.0
   A         B     C
0  6  2.666667  7.00
1  2  3.000000  5.00
2  1  3.000000  7.25
3  6  2.666667  9.00
4  4  2.000000  8.00

In [20]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
df = pd.DataFrame(np.random.randint(1,10,size=(6,4)),columns=['A','B','C','D'])
print(df)

for _ in range(3):
    i = np.random.randint(0,6)
    j = np.random.randint(0,4)
    df.iat[i,j] = np.nan
print(df)

df_cleaned = df.dropna()
print(df_cleaned)

   A  B  C  D
0  6  4  9  3
1  6  3  3  9
2  8  2  3  4
3  5  3  7  3
4  7  8  7  3
5  2  5  6  6
   A    B    C  D
0  6  4.0  9.0  3
1  6  3.0  3.0  9
2  8  NaN  3.0  4
3  5  3.0  NaN  3
4  7  NaN  7.0  3
5  2  5.0  6.0  6
   A    B    C  D
0  6  4.0  9.0  3
1  6  3.0  3.0  9
5  2  5.0  6.0  6

In [23]:
### Assignment 4: Data Aggregation

# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

category = np.random.choice(['A','B','C'],size=10)
value = np.random.randint(1,21,size=10)
df = pd.DataFrame({
    'Category':category,
    'Value':value
})
print(df)
result = df.groupby('Category')['Value'].agg(['sum','mean'])
print(result)

  Category  Value
0        B     18
1        A      3
2        C     19
3        C      4
4        C     14
5        B     11
6        C     15
7        B      7
8        C     12
9        C      7
          sum       mean
Category
A           3   3.000000
B          36  12.000000
C          71  11.833333

In [26]:
# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.
product = np.random.choice(['A','B','C'],size=10)
category = np.random.choice(['Good','Bad','Best'],size=10)
sales = np.random.randint(20,100,size=10)
df = pd.DataFrame({
    'Product':product,
    'Category':category,
    'Sales':sales
})
print(df)

result = df.groupby('Category')['Sales'].sum()
print(result)

  Product Category  Sales
0       C     Best     38
1       A     Good     93
2       B     Best     95
3       C      Bad     55
4       C      Bad     51
5       B     Best     84
6       C     Good     33
7       C      Bad     58
8       C      Bad     87
9       A     Good     36
Category
Bad     251
Best    217
Good    162
Name: Sales, dtype: int32

In [30]:
### Assignment 5: Merging DataFrames

# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df1 = pd.DataFrame({
    'ID':[1, 2, 3, 4],
    'Score':[86, 73, 57, 89]
})

df2 = pd.DataFrame({
    'ID':[2,3,4,6],
    'Name':['Anu','Kanu','Tanu','Sanu']
})
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(merged_df)

   ID  Score  Name
0   2     73   Anu
1   3     57  Kanu
2   4     89  Tanu

In [31]:
# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
df1 = pd.DataFrame({
    'ID':[1, 2, 3, 4],
    'Score':[47,48,59,60]
})
df2 = pd.DataFrame({
    'ID':[2,3,4,5],
    'Score':[45,54,56,65]
})
result_row = pd.concat([df1,df2],axis=0,ignore_index = True)
print("Along Row")
print(result_row)

result_col = pd.concat([df1,df2],axis=1)
print("Along Column")
print(result_col)

Along Row
   ID  Score
0   1     47
1   2     48
2   3     59
3   4     60
4   2     45
5   3     54
6   4     56
7   5     65
Along Column
   ID  Score  ID  Score
0   1     47   2     45
1   2     48   3     54
2   3     59   4     56
3   4     60   5     65

In [36]:
### Assignment 6: Time Series Analysis

# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
dates = pd.date_range(start="2025-01-01",end="2025-06-30",freq="D")
value = np.random.randint(1,20,size=len(dates))
df = pd.DataFrame({'Value':value},index=dates)
monthly_mean = df.resample('M').mean()
print(monthly_mean)

                Value
2025-01-31   9.548387
2025-02-28   9.214286
2025-03-31   9.064516
2025-04-30  10.400000
2025-05-31   9.709677
2025-06-30   9.533333

C:\Users\rajat\AppData\Local\Temp\ipykernel_10312\2586435998.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [38]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.
dates = pd.date_range(start="2021-01-01",end="2021-12-31",freq="D")
Value = np.random.randint(1,20,size=len(dates))
df = pd.DataFrame({'Value':Value},index=dates)
df['7-Day-Mean'] = df['Value'].rolling(window=7).mean()
print(df)
df.head(15)

            Value  7-Day-Mean
2021-01-01      9         NaN
2021-01-02      2         NaN
2021-01-03      5         NaN
2021-01-04     10         NaN
2021-01-05      3         NaN
...           ...         ...
2021-12-27      7    7.571429
2021-12-28      2    7.000000
2021-12-29     12    7.714286
2021-12-30     13    7.285714
2021-12-31      1    6.285714

[365 rows x 2 columns]

            Value  7-Day-Mean
2021-01-01      9         NaN
2021-01-02      2         NaN
2021-01-03      5         NaN
2021-01-04     10         NaN
2021-01-05      3         NaN
2021-01-06     13         NaN
2021-01-07     13    7.857143
2021-01-08     14    8.571429
2021-01-09     19   11.000000
2021-01-10      4   10.857143
2021-01-11      1    9.571429
2021-01-12      1    9.285714
2021-01-13      3    7.857143
2021-01-14     12    7.714286
2021-01-15     10    7.142857

In [39]:
### Assignment 7: MultiIndex DataFrame

#Example of MultiIndexing
arrays = [
    [2023,2023,2023,2024,2024,2024],
    ['Jan','Feb','Mar','Jan','Feb','Mar']
    ]
index = pd.MultiIndex.from_arrays(arrays,names=('Year','Month'))
df = pd.DataFrame({'Sales': np.random.randint(1,100,size=6)},index=index)
print(df)

            Sales
Year Month
2023 Jan       86
     Feb       75
     Mar       29
2024 Jan       92
     Feb        5
     Mar       41

In [48]:
# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
arrays = [
    ['USA','USA','USA','Canada','Canada','Canada'],
    ['New York','Texas','California','Toronto','Quebec','Vancouver']
]

index = pd.MultiIndex.from_arrays(arrays,names=('Country','State'))
data = {
    'Population':np.random.randint(10000,100000,size=6),
    'GDP':np.random.randint(50000,200000,size=6)
}
df = pd.DataFrame(data,index=index)
print(df)

#All Rows for top level Index value
print(df.loc['USA'])

#Select specific nested Index
print(df.loc[('Canada','Quebec')])

#select all countries but specific state
print(df.loc[(slice(None), ['New York', 'Toronto']), 'Population'])

                    Population     GDP
Country State
USA     New York         78275  183565
        Texas            17072  161544
        California       13355   50948
Canada  Toronto          56586  193595
        Quebec           72688   75799
        Vancouver        30443   52521
            Population     GDP
State
New York         78275  183565
Texas            17072  161544
California       13355   50948
Population    72688
GDP           75799
Name: (Canada, Quebec), dtype: int32
Country  State
USA      New York    78275
Canada   Toronto     56586
Name: Population, dtype: int32

In [51]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

categories    = ['Fruit', 'Fruit', 'Fruit', 'Veg', 'Veg']
subcategories = ['Apple', 'Banana', 'Orange', 'Tomato', 'Potato']
index = pd.MultiIndex.from_arrays([categories,subcategories],names=['Category','SubCategory'])
data = np.random.randint(1,50,size=(5,3))
df = pd.DataFrame(data,index=index,columns=['Q1','Q2','Q3'])
print("Sum by Category")
print(df.groupby(level='Category').sum())
print("Sum by Sub Category")
print(df.groupby(level='SubCategory').sum())

Sum by Category
          Q1  Q2  Q3
Category
Fruit     50  37  43
Veg       32  52  46
Sum by Sub Category
             Q1  Q2  Q3
SubCategory
Apple         8   1  29
Banana        2  20  13
Orange       40  16   1
Potato        3  18  32
Tomato       29  34  14

In [57]:
### Assignment 8: Pivot Tables

# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

date = pd.date_range(start="2025-01-01",periods=6,freq="D")
category = np.random.choice(['A','B','C'],size=6)
value = np.random.randint(1,100,size=6)

df = pd.DataFrame({
    'Date': date,
    'Category': category,
    'Value':value
})
print(df)
pivot = pd.pivot_table(
    df,
    index = 'Date',
    columns = 'Category',
    values = 'Value',
    aggfunc = 'sum'
)
print(pivot)

        Date Category  Value
0 2025-01-01        A     87
1 2025-01-02        C     31
2 2025-01-03        B     75
3 2025-01-04        A     68
4 2025-01-05        B     50
5 2025-01-06        A     35
Category       A     B     C
Date
2025-01-01  87.0   NaN   NaN
2025-01-02   NaN   NaN  31.0
2025-01-03   NaN  75.0   NaN
2025-01-04  68.0   NaN   NaN
2025-01-05   NaN  50.0   NaN
2025-01-06  35.0   NaN   NaN

In [61]:
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
year = np.random.choice([2021,2022,2023],size=12)
quarter = np.random.choice(['Q1','Q2','Q3','Q4'],size=12)
revenue = np.random.randint(10000,20000,size=12)

df = pd.DataFrame({
    'Year':year,
    'Quarter':quarter,
    'Revenue':revenue
})
print(df)

pivot = pd.pivot_table(
    df,
    index = 'Year',
    columns = 'Quarter',
    values = 'Revenue',
    aggfunc = 'mean'
)
print(pivot)

    Year Quarter  Revenue
0   2022      Q2    16962
1   2023      Q1    18277
2   2021      Q1    16517
3   2022      Q4    11029
4   2022      Q4    19982
5   2023      Q4    15313
6   2022      Q3    18069
7   2022      Q3    16098
8   2023      Q2    13000
9   2022      Q1    10970
10  2021      Q1    12944
11  2021      Q3    18646
Quarter       Q1       Q2       Q3       Q4
Year
2021     14730.5      NaN  18646.0      NaN
2022     10970.0  16962.0  17083.5  15505.5
2023     18277.0  13000.0      NaN  15313.0

In [63]:
### Assignment 9: Applying Functions

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

df = pd.DataFrame(np.random.randint(1,20,size=(5,3)))
print(df)
df_doubled = df.applymap(lambda x:x*2)
print(df_doubled)

    0   1   2
0   4  10   1
1   4  19  17
2  10   4  17
3  14  19  12
4  11  18   7
    0   1   2
0   8  20   2
1   8  38  34
2  20   8  34
3  28  38  24
4  22  36  14

C:\Users\rajat\AppData\Local\Temp\ipykernel_10312\739513803.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x:x*2)

In [65]:
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

df = pd.DataFrame(np.random.randint(1,20,size=(6,3)))
df['Sum'] = df.sum(axis=1)
print(df)

    0   1   2  Sum
0  10   4  17   31
1   9  14  12   35
2  19   3  15   37
3  18   5  18   41
4   2   1  11   14
5  10   5   3   18

In [67]:
### Assignment 10: Working with Text Data

# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
words = np.random.choice(['apple','banana','mango','orange','grape'],size=5)
s = pd.Series(words)
print(s)
s_upper = s.str.upper()
print(s_upper)

0    orange
1     grape
2     grape
3     grape
4     apple
dtype: object
0    ORANGE
1     GRAPE
2     GRAPE
3     GRAPE
4     APPLE
dtype: object

In [68]:
# 2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
words = np.random.choice(['apple','banana','mango','orange','grape'],size=5)
s = pd.Series(words)
first_3 = s.str[:3]
print(first_3)

0    app
1    gra
2    ora
3    app
4    man
dtype: object